@model IEnumerable<TestingModule.Models.Rubric>
@{
    ViewData["Title"] = "Index";
}
<h2>Тема</h2>
<p>
    <a asp-action="Create">Создать</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <div class="form-group">
                Тематика: <select id="bySubject" class="form-control" asp-items="ViewBag.SubjectId"><option value="">Все</option></select>
            </div>
        </p>
    </div>
</form>
<table class="table" id="Rubrics">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Тематика
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a> |
                    @Html.ActionLink("Задания", "Index", "Duties", new { bySubject = item.Subject.ID, byRubric = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $("#bySubject").change(function () {
            $.getJSON("/Rubrics/GetRubrics?idSubject=" + $("#bySubject").val(), function (data) {
                $("#Rubrics tbody").html('');
                $.each(data, function (index, duty) {
                    $("#Rubrics tbody").append(
                        '<tr><td>' + duty.name + '</td>' +
                        '<td>' + duty.subjectName + '</td><td>' +
                        '<a href="/Rubrics/Edit/' + duty.id + '">Редактировать</a> | ' +
                        '<a href="/Rubrics/Details/' + duty.id + '">Детали</a> | ' +
                        '<a href="/Rubrics/Delete/' + duty.id + '">Удалить</a> | ' +
                        '<a href="/Duties/Index?bySubject=' + duty.subjectId + '&byRubric' + duty.id + '">Задания</a></td > ' +
                        '</tr>');
                });
            });
        })

    </script>
}